#header {
	width:100%;
	height:15%;
	border:1px solid #575656;
	border-bottom:1px solid #80807f;
	background-color: #575656;
	background-image: url("../static/img/wequit.png");
    background-repeat: no-repeat;
	background-position: center; 
}

#miniJeux {
	height: 65%;
}

#map {
	width:100%;
	height:20%;
	border:1px solid #878786;
	border-top:1px solid #a1a1a0;
	background-color: #878786;
}

#option {
	position:absolute;
	top:10px;
	left:80%;
}

.jtextfill span{
	margin: auto;
	width:100%;
}