* {
	margin: 0;
	padding:0;
}

body {
   background-image: url("../static/img/patterns.png");
   background-repeat: repeat;
   background-attachment: fixed ;
}

.clear {
	clear:both;
}

#main_wrapper 
{
	float: left;
	margin-left:200px;
	width:350px;
	height:780px;
	background-image: url("../static/img/iphonebackground.png");
    background-repeat: no-repeat;
	position: relative;
}

#logo_wrapper {
	float:left;
	margin-left: 50px;
	margin-top: 50px;
	width:300px;
	height:500px;
	background-image: url("../static/img/insertlogohere.png");
    background-repeat: no-repeat;
}

#keypoint_wrapper {
	float:left;
	margin-top:50px;
	margin-left:50px;
}

#content_wrapper {
	position:absolute;
	top:166px;
	left:33px;
	width:298px;
	height:445px;
	background-color: #fff;	
	overflow:hidden;
	
}

#content {
	position: relative;
	padding:2px;
}

#statusbar {
	width:298px;
	height:20px;
	background-image: url("../static/img/statusbar.png");
    background-repeat: no-repeat;
}