#carte{
	position: relative;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	width:276px;
	height:276px;
}

#video{
	position: relative;
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
}